<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Survey | Report</title>
    <style>
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Tahoma', 'Arial', 'Georama', sans-serif;
        font-size: 1rem;
      }

      .form-group {
        margin-bottom: 1rem;
        page-break-inside: avoid;
      }

      .form-group > div,
      .form-group > span:last-child:not(:first-child) {
        font-weight: bold;
        text-transform: uppercase;
      }

      .form-group.column {
        display: flex;
        flex-direction: column;
      }

      .form-group:not(.question) > span:first-child::after {
        content: ' : ';
      }

      .form-group.column > div,
      .form-group.column > span:last-child {
        margin-top: 0.65rem;
      }

      .form-group .checkbox {
        margin-bottom: 0.25rem;
      }

      .form-group .checkbox:not(:last-child) {
        margin-right: 1.5rem;
      }

      .form-group.top {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 2rem;
      }

      .form-group.top > div {
        display: flex;
        font-size: 20px;
      }

      .form-group.top > div:not(:last-child) {
        margin-right: 2rem;
      }

      .form-group.top .checkbox > label > span:first-child {
        width: 30px;
        height: 30px;
      }

      .divider {
        height: 1.5rem;
      }

      .checkbox {
        display: inline-block;
        position: relative;
        align-items: center;
      }

      .checkbox input {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
      }

      .checkbox > label {
        display: flex;
        align-items: center;
      }

      .checkbox > label > span:first-child {
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 2px solid #000;
        position: relative;
        background: white;
        transform: translateY(-1px);
      }

      .checkbox > label > span:first-child::after {
        content: '';
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: scale(0) translateY(-80%) translateX(-50%) rotate(-45deg);
        width: 10px;
        height: 4px;
        border-color: #fff;
        border-width: 0 0 2.2px 2.2px;
        border-style: solid;
      }

      .checkbox > label > span:last-child {
        display: inline-block;
        margin-left: 0.5rem;
      }

      .checkbox input:checked + label > span:first-child::after {
        content: '';
        opacity: 1;
        transform: scale(1) translateY(-75%) translateX(-52%) rotate(-45deg);
        border-color: #000;
      }

      .color-red {
        color: #ee4b2b;
      }

      .color-yellow {
        color: #ffea00;
      }

      .color-blue {
        color: #0000ff;
      }

      .color-purple {
        color: #bf40bf;
      }

      .color-green {
        color: #50C878;
      }

      .header {
        height: 3.5rem;
      }

      .header > img {
        display: inline-block;
        max-height: 100%;
      }

      .footer {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }

      .footer > .numerotation {
        display: flex;
        justify-content: flex-end;
        font-size: 1rem;
        width: 100%;
      }

      .page-break {
        page-break-before: always;
        padding-bottom: 2rem;
      }

      body {
        padding: 0rem 2rem;
      }
    </style>
  </head>
  <body>
    <div id="header" class="header">
      <img src="https://res.cloudinary.com/thetechshrine/image/upload/v1686072262/survey/development/logo/logo-removebg-preview_vppuaw.png" alt="" />
    </div>

    <div class="form-group top">
      <div>
        <div class="checkbox">
          <input type="checkbox" {{#if operationTypeMPR}}checked{{/if}} />
          <label>
            <span></span>
            <span>MPR</span>
          </label>
        </div>
        <div class="checkbox">
          <input type="checkbox" {{#if operationTypeRENO}}checked{{/if}} />
          <label>
            <span></span>
            <span>RENO</span>
          </label>
        </div>
        <div class="checkbox">
          <input type="checkbox" {{#if operationTypeRAC}}checked{{/if}} />
          <label>
            <span></span>
            <span>RAC</span>
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <span>Nom(s) et prénom(s) du client</span>
      <span>{{fullName}}</span>
    </div>

    <div class="form-group column question">
      <span>Année de construction de la maison</span>
      <div>
        <div class="checkbox">
          <input type="checkbox" {{#if buildingAgeMoreThanFifteenYears}}checked{{/if}} />
          <label>
            <span></span>
            <span class="color-green">+15 ans</span>
          </label>
        </div>
        <div class="checkbox">
          <input type="checkbox" {{#if buildingAgeLessThanFifteenYears}}checked{{/if}} />
          <label>
            <span></span>
            <span class="color-red">-15 ans</span>
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <span>Surface de la maison</span>
      <span>{{livingSpaceArea}} m²</span>
    </div>

    <div class="form-group column question">
      <span>Est-ce qu'il y'a des combles ?</span>
      <div>
        <div class="checkbox">
          <input type="checkbox" {{#if loftIncluded}}checked{{/if}} />
          <label>
            <span></span>
            <span class="color-green">Oui</span>
          </label>
        </div>
        <div class="checkbox">
          <input type="checkbox" {{#if loftNotIncluded}}checked{{/if}}/>
          <label>
            <span></span>
            <span class="color-red">Non</span>
          </label>
        </div>
      </div>
    </div>
    <div class="form-group column">
      <span>Type de combles</span>
      <div>
        <div class="checkbox">
          <input type="checkbox" {{#if loftTypeLostAccessible}}checked{{/if}} />
          <label>
            <span></span>
            <span class="color-green">Perdus accéssibles</span>
          </label>
        </div>
        <div class="checkbox">
          <input type="checkbox" {{#if loftTypeLostInaccessible}}checked{{/if}} />
          <label>
            <span></span>
            <span class="color-red">Perdus inaccéssibles</span>
          </label>
        </div>
        <div class="checkbox">
          <input type="checkbox" {{#if loftTypeFurnished}}checked{{/if}} />
          <label>
            <span></span>
            <span class="color-red">Aménagés</span>
          </label>
        </div>
        <div class="checkbox">
          <input type="checkbox" {{#if loftTypeConvertible}}checked{{/if}} />
          <label>
            <span></span>
            <span class="color-green">Aménageable</span>
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <span>Surface des combles</span>
      {{#if loftArea}}<span>{{loftArea}} m²</span>{{/if}}
    </div>
    <div class="form-group column question">
      <span>Les combles sont déjà isolés ?</span>
      <div>
        <div class="checkbox">
          <input type="checkbox" {{#if loftInsulated}}checked{{/if}} />
          <label>
            <span></span>
            <span>Oui</span>
          </label>
        </div>
        <div class="checkbox">
          <input type="checkbox" {{#if loftNotInsulated}}checked{{/if}} />
          <label>
            <span></span>
            <span>Non</span>
          </label>
        </div>
      </div>
    </div>

    <div class="form-group column question">
      <span>Si les combles sont déjà isolés, depuis combien de temps ?</span>
      <div>
        <div class="checkbox">
          <input type="checkbox" {{#if loftInsulationPeriodMoreThanTenYears}}checked{{/if}} />
          <label>
            <span></span>
            <span class="color-green">+10 ans</span>
          </label>
        </div>
        <div class="checkbox">
          <input type="checkbox" {{#if loftInsulationPeriodLessThanTenYears}}checked{{/if}} />
          <label>
            <span></span>
            <span class="color-red">-10 ans</span>
          </label>
        </div>
      </div>
    </div>

    <div class="form-group column question">
      <span>Est ce que le client a déjà bénéficié des aides MaPrimeRenov ?</span>
      <div>
        <div class="checkbox">
          <input type="checkbox" {{#if mprBeneficiary}}checked{{/if}} />
          <label>
            <span></span>
            <span class="color-red">Oui</span>
          </label>
        </div>
        <div class="checkbox">
          <input type="checkbox" {{#if nonMprBeneficiary}}checked{{/if}} />
          <label>
            <span></span>
            <span class="color-green">Non</span>
          </label>
        </div>
      </div>
    </div>
    <div class="form-group column question">
      <span>Est ce que le client a déjà bénéficié de l'isolation à 1 euro ?</span>
      <div>
        <div class="checkbox">
          <input type="checkbox" {{#if oneEuroBenificiary}}checked{{/if}} />
          <label>
            <span></span>
            <span class="color-red">Oui</span>
          </label>
        </div>
        <div class="checkbox">
          <input type="checkbox" {{#if nonOneEuroBenificiary}}checked{{/if}} />
          <label>
            <span></span>
            <span class="color-green">Non</span>
          </label>
        </div>
      </div>
    </div>

    <div class="page-break"></div>

    <div class="form-group">
      <span>Numéro fiscal 1</span>
      <span>{{occupantOne.taxNoticeNumber}}</span>
    </div>
    <div class="form-group">
      <span>Référence de l'avis 1</span>
      <span>{{occupantOne.taxNoticeReference}}</span>
    </div>
    <div class="form-group">
      <span>Revenu fiscal de référence 1</span>
      <span>{{occupantOne.referenceTaxIncome}}</span>
    </div>
    <div class="form-group">
      <span>Date de naissance 1</span>
      <span>{{occupantOne.birthDate}}</span>
    </div>
    <div class="form-group">
      <span>Nombre de personnes dans le foyer</span>
      <span>{{numberOfDependents}}</span>
    </div>
    <div class="form-group">
      <span>Département du bénéficiaire</span>
      <span>{{department}}</span>
    </div>

    <div class="divider"></div>

    <p class="important color-red">Si le foyer se compose de plusieurs avis d'imposition</p>
    <div class="form-group">
      <span class="color-red">Revenu fiscal de référence 2</span>
      {{#if occupantTwo}}
      <span>{{occupantTwo.referenceTaxIncome}}</span>
      {{/if}}
    </div>

    <div class="form-group">
      <span>Adresse</span>
      <span>{{fullAddress}}</span>
    </div>

    <div class="form-group column">
      <span>Est-ce que le client est</span>
      <div>
        <div class="checkbox">
          <input type="checkbox" {{#if householdSituationPrecarity}}checked{{/if}} />
          <label>
            <span></span>
            <span>Précaire <span class="color-blue">(Bleu)</span></span>
          </label>
        </div>
        <div class="checkbox">
          <input type="checkbox" {{#if householdSituationModest}}checked{{/if}} />
          <label>
            <span></span>
            <span>Modeste <span class="color-yellow">(Jaune)</span></span>
          </label>
        </div>
        <div class="checkbox">
          <input type="checkbox" {{#if householdSituationClassic}}checked{{/if}} />
          <label>
            <span></span>
            <span>Classique <span class="color-purple">(Violet)</span></span>
          </label>
        </div>
      </div>
    </div>

    <div class="form-group column question">
      <span>Est-ce que le client est ?</span>
      <div>
        <div class="checkbox">
          <input type="checkbox" {{#if owningTypeOwnerOccupant}}checked{{/if}} />
          <label>
            <span></span>
            <span>Propriétaire occupant</span>
          </label>
        </div>
        <div class="checkbox">
          <input type="checkbox" {{#if owningTypeOwnerTenant}}checked{{/if}} />
          <label>
            <span></span>
            <span>Locataire</span>
          </label>
        </div>
        <div class="checkbox">
          <input type="checkbox" {{#if owningTypeOwnerSCI}}checked{{/if}} />
          <label>
            <span></span>
            <span>SCI avec 51% des parts</span>
          </label>
        </div>
      </div>
    </div>

    <div class="form-group column question">
      <span>Est-ce que les mûrs extérieurs sont isolés ?</span>
      <div>
        <div class="checkbox">
          <input type="checkbox" {{#if wallInsulationTypeITI}}checked{{/if}} />
          <label>
            <span></span>
            <span class="color-red">ITI</span>
          </label>
        </div>
        <div class="checkbox">
          <input type="checkbox" {{#if wallInsulationTypeITE}}checked{{/if}} />
          <label>
            <span></span>
            <span class="color-red">ITE</span>
          </label>
        </div>
        <div class="checkbox">
          <input type="checkbox" {{#if wallInsulationTypeNone}}checked{{/if}} />
          <label>
            <span></span>
            <span class="color-green">Aucune</span>
          </label>
        </div>
      </div>
    </div>

    <div class="form-group column">
      <span>Quel est le moyen de chauffage utilisé ?</span>
      <div>
        <div class="checkbox">
          <input type="checkbox" {{#if heatingTypeWood}}checked{{/if}} />
          <label>
            <span></span>
            <span class="color-green">Bois</span>
          </label>
        </div>
        <div class="checkbox">
          <input type="checkbox" {{#if heatingTypeGas}}checked{{/if}} />
          <label>
            <span></span>
            <span class="color-green">Gaz</span>
          </label>
        </div>
        <div class="checkbox">
          <input type="checkbox" {{#if heatingTypeOil}}checked{{/if}} />
          <label>
            <span></span>
            <span class="color-green">Fioul</span>
          </label>
        </div>
        <div class="checkbox">
          <input type="checkbox" {{#if heatingTypeHeatingPump}}checked{{/if}} />
          <label>
            <span></span>
            <span class="color-red">Pompe à chaleur</span>
          </label>
        </div>
        <div class="checkbox">
          <input type="checkbox" {{#if heatingTypeElectricity}}checked{{/if}} />
          <label>
            <span></span>
            <span class="color-red">Electricité</span>
          </label>
        </div>
      </div>
    </div>

    <div class="page-break"></div>

    <div class="form-group column question">
      <span>Si chauffage à gaz, est-ce une chaudière à condensation ?</span>
      <div>
        <div class="checkbox">
          <input type="checkbox" {{#if oilHeatingTypeBoiler}}checked{{/if}} />
          <label>
            <span></span>
            <span class="color-red">Oui</span>
          </label>
        </div>
        <div class="checkbox">
          <input type="checkbox" {{#if notOilHeatingTypeBoiler}}checked{{/if}} />
          <label>
            <span></span>
            <span class="color-green">Non</span>
          </label>
        </div>
      </div>
    </div>

    <div class="form-group column">
      <span>Moyen de production d'eau chaude sanitaire</span>
      <div>
        <div class="checkbox">
          <input type="checkbox" {{#if waterHeatingTypeDefaultHeating}}checked{{/if}} />
          <label>
            <span></span>
            <span>Lié au chauffage</span>
          </label>
        </div>
        <div class="checkbox">
          <input type="checkbox" {{#if waterHeatingTypeElectricity}}checked{{/if}} />
          <label>
            <span></span>
            <span>Electricité</span>
          </label>
        </div>
        <div class="checkbox">
          <input type="checkbox" {{#if waterHeatingTypeBallon}}checked{{/if}} />
          <label>
            <span></span>
            <span>Ballon thermodynamique</span>
          </label>
        </div>
        <div class="checkbox">
          <input type="checkbox" {{#if waterHeatingTypeOther}}checked{{/if}} />
          <label>
            <span>{{waterHeatingTypeSpecified}}</span>
            <span></span>
          </label>
        </div>
      </div>
    </div>

    <div class="form-group column question">
      <span>Est-ce qu'il y a un sous-sol ?</span>
      <div>
        <div class="checkbox">
          <input type="checkbox" {{#if basementIncluded}}checked{{/if}} />
          <label>
            <span></span>
            <span>Oui</span>
          </label>
        </div>
        <div class="checkbox">
          <input type="checkbox" {{#if basementNotIncluded}}checked{{/if}} />
          <label>
            <span></span>
            <span>Non</span>
          </label>
        </div>
      </div>
    </div>
    <div class="form-group column question">
      <span>Si sous-sol chauffé, est ce que le plancher bas est isolé ?</span>
      <div>
        <div class="checkbox">
          <input type="checkbox" {{#if lowFloorInsulationPeriodMoreThanTenYears}}checked{{/if}} />
          <label>
            <span></span>
            <span class="color-green">+10 ans</span>
          </label>
        </div>
        <div class="checkbox">
          <input type="checkbox" {{#if lowFloorInsulationPeriodLessThanTenYears}}checked{{/if}} />
          <label>
            <span></span>
            <span class="color-red">-10 ans</span>
          </label>
        </div>
      </div>
    </div>
    <div class="form-group column question">
      <span>Y'a t'il une cave, un local technique ou un garage de 1.9m de hauteur et 2m² de surface pour mettre une chaudière a granulés ?</span>
      <div>
        <div class="checkbox">
          <input type="checkbox" {{#if basementAreaForBoiler}}checked{{/if}} />
          <label>
            <span></span>
            <span class="color-green">Oui</span>
          </label>
        </div>
        <div class="checkbox">
          <input type="checkbox" {{#if nonBasementAreaForBoiler}}checked{{/if}} />
          <label>
            <span></span>
            <span class="color-red">Non</span>
          </label>
        </div>
      </div>
    </div>

    <div class="divider"></div>

    <div class="form-group column question">
      <span>Si radiateur, quel type ?</span>
      <div>
        <div class="checkbox">
          <input type="checkbox" {{#if radiatorTypeClassic}}checked{{/if}} />
          <label>
            <span></span>
            <span>Classique</span>
          </label>
        </div>
        <div class="checkbox">
          <input type="checkbox" {{#if radiatorTypeElectric}}checked{{/if}} />
          <label>
            <span></span>
            <span>Electrique</span>
          </label>
        </div>
      </div>
    </div>

    <div class="form-group column question">
      <span>Est-ce que la maison dispose d'une cheminée ?</span>
      <div>
        <div class="checkbox">
          <input type="checkbox" {{#if fireplaceIncluded}}checked{{/if}} />
          <label>
            <span></span>
            <span>Oui</span>
          </label>
        </div>
        <div class="checkbox">
          <input type="checkbox" {{#if fireplaceNotIncluded}}checked{{/if}} />
          <label>
            <span></span>
            <span>Non</span>
          </label>
        </div>
      </div>
    </div>

    <div class="divider"></div>

    <div class="form-group">
      <span>Numéro de portable</span>
      <span>{{phone}}</span>
    </div>

    <div class="page-break"></div>

    <div class="form-group column">
      <span>Commentaires sur les combles</span>
      <span>{{loftComments}}</span>
    </div>

    <div class="page-break"></div>

    <div class="form-group column">
      <span>Autres commentaires</span>
      <span>{{comments}}</span>
    </div>

    <div id="footer">
      <div class="numerotation">
          <div>
            <span class="pageNumber"></span>
            <span> / </span>
            <span class="totalPages"></span>
          </div>
      </div>
    </div>
  </body>
</html>
